<div style="display: flex; flex-direction: column; align-items: center;">
  <p>Welcome to the gym <strong>GymPoint</strong>, below is your registration details.</p>

  <p style="border-left: 7px solid #EE4D64; padding-left: 12px">
    <strong>Login ID: </strong> {{ login }} <br />
    <strong>Date of enrollment: </strong> {{ dateEnrollment }} <br />
    <strong>Plan: </strong> {{ planName }} ({{ planDuration }} Months) <br />
    <strong>Total price: </strong>R$ {{ planPrice }} <br />
    <strong>Start date: </strong> {{ startDate }} <br />
    <strong>End Date: </strong> {{ endDate }} <br />
  </p>
</div>
